<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <block>
        <blockInfo>
            <blockId>B0</blockId>
            <joinTable>x</joinTable>
        </blockInfo>
        <columns>
            <field>FK_$Enrollment_Record__c.Program__c</field>
        </columns>
        <columns>
            <field>FK_$Enrollment_Record__c.Student_Account__c</field>
        </columns>
        <columns>
            <field>Flight__c.First_Name__c</field>
        </columns>
        <columns>
            <field>Flight__c.Last_Name__c</field>
        </columns>
        <columns>
            <field>CUST_ID</field>
        </columns>
        <columns>
            <field>FK_NAME</field>
        </columns>
        <columns>
            <field>FK_$Enrollment_Record__c.Program_Semester_Name__c</field>
        </columns>
        <columns>
            <field>CUST_NAME</field>
        </columns>
        <columns>
            <field>Flight__c.First_Leg_Airport_Code__c</field>
        </columns>
        <columns>
            <field>Flight__c.First_Leg_Flight_Number__c</field>
        </columns>
        <columns>
            <field>Flight__c.First_Leg_Arrival_Date_Time__c</field>
        </columns>
        <columns>
            <field>Flight__c.Second_Leg_Airport_Code__c</field>
        </columns>
        <columns>
            <field>Flight__c.Second_Leg_Flight_Number__c</field>
        </columns>
        <columns>
            <field>Flight__c.Second_Leg_Arrival_Date_Time__c</field>
        </columns>
        <columns>
            <field>Flight__c.Third_Leg_Arrival_Date_Time__c</field>
        </columns>
        <columns>
            <field>Flight__c.Third_Leg_Airport_Code__c</field>
        </columns>
        <columns>
            <field>Flight__c.Third_Leg_Flight_Number__c</field>
        </columns>
        <columns>
            <field>CUST_CREATED_DATE</field>
        </columns>
        <columns>
            <aggregateTypes>Sum</aggregateTypes>
            <field>FK_$Enrollment_Record__c.Flights_Booked__c</field>
        </columns>
        <columns>
            <field>CUST_CREATED_NAME</field>
        </columns>
        <filter>
            <criteriaItems>
                <column>FK_$Enrollment_Record__c.Program_Semester_Name__c</column>
                <columnToColumn>false</columnToColumn>
                <isUnlocked>true</isUnlocked>
                <operator>contains</operator>
                <value>spring 2022</value>
            </criteriaItems>
            <criteriaItems>
                <column>FK_$Enrollment_Record__c.Enrollment_Status__c</column>
                <columnToColumn>false</columnToColumn>
                <isUnlocked>true</isUnlocked>
                <operator>equals</operator>
                <value>Enrolled</value>
            </criteriaItems>
            <criteriaItems>
                <column>CUST_RECORDTYPE</column>
                <columnToColumn>false</columnToColumn>
                <isUnlocked>true</isUnlocked>
                <operator>equals</operator>
                <value>Flight__c.Standard</value>
            </criteriaItems>
        </filter>
        <format>Tabular</format>
        <name>Flights with Enrollment Record block 1</name>
        <params>
            <name>co</name>
            <value>1</value>
        </params>
        <reportType>CustomEntity$Flight__c@Flight__c.Enrollment_Record__c</reportType>
        <scope>organization</scope>
        <showGrandTotal>true</showGrandTotal>
        <showSubTotals>true</showSubTotals>
        <sortColumn>FK_$Enrollment_Record__c.Program__c</sortColumn>
        <sortOrder>Asc</sortOrder>
        <timeFrameFilter>
            <dateColumn>CUST_CREATED_DATE</dateColumn>
            <interval>INTERVAL_CUSTOM</interval>
        </timeFrameFilter>
    </block>
    <block>
        <blockInfo>
            <blockId>B1</blockId>
            <joinTable>x</joinTable>
        </blockInfo>
        <columns>
            <field>FK_$Enrollment_Record__c.Program__c</field>
        </columns>
        <columns>
            <field>CUST_NAME</field>
        </columns>
        <columns>
            <field>FK_NAME</field>
        </columns>
        <columns>
            <field>Flight__c.Student_Name__c</field>
        </columns>
        <columns>
            <field>Flight__c.Email__c</field>
        </columns>
        <columns>
            <field>Flight__c.Departure_Airport_Code_First_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Arrival_Airport_Code_First_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Arrival_Time_First_Leg_UTC_Conversion__c</field>
        </columns>
        <columns>
            <field>Flight__c.Departure_Airport_Code_Second_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Arrival_Airport_Code_Second_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Flight_Number_Second_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Arrival_Time_Second_Leg_UTC_Conversion__c</field>
        </columns>
        <columns>
            <field>Flight__c.Departure_Airport_Code_Third_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Arrival_Airport_Code_Third_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Flight_Number_Third_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Arrival_Time_Third_Leg_UTC_Conversion__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Flight_Airport_Code_First_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Arrival_Airport_Code_First_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Flight_Number_First_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Arrival_Time_First_Leg_UTC__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Flight_Airport_Code_Second_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Arrival_Airport_Code_Second_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Flight_Number_Second_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Arrival_Time_Second_Leg_UTC__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Flight_Airport_Code_Third_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Arrival_Airport_Code_Third_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Flight_Number_Third_Leg__c</field>
        </columns>
        <columns>
            <field>Flight__c.Return_Arrival_Time_Third_Leg_UTC__c</field>
        </columns>
        <columns>
            <field>Flight__c.Additional_Information__c</field>
        </columns>
        <columns>
            <field>CUST_CREATED_DATE</field>
        </columns>
        <filter>
            <criteriaItems>
                <column>CUST_RECORDTYPE</column>
                <columnToColumn>false</columnToColumn>
                <isUnlocked>true</isUnlocked>
                <operator>equals</operator>
                <value>Flight__c.Flights</value>
            </criteriaItems>
            <criteriaItems>
                <column>FK_$Enrollment_Record__c.Program_Semester_Name__c</column>
                <columnToColumn>false</columnToColumn>
                <isUnlocked>true</isUnlocked>
                <operator>contains</operator>
                <value>spring 2022</value>
            </criteriaItems>
            <criteriaItems>
                <column>FK_$Enrollment_Record__c.Enrollment_Status__c</column>
                <columnToColumn>false</columnToColumn>
                <isUnlocked>true</isUnlocked>
                <operator>equals</operator>
                <value>Enrolled</value>
            </criteriaItems>
        </filter>
        <format>Tabular</format>
        <name>Flights with Enrollment Record block 2</name>
        <params>
            <name>co</name>
            <value>1</value>
        </params>
        <reportType>CustomEntity$Flight__c@Flight__c.Enrollment_Record__c</reportType>
        <scope>organization</scope>
        <showGrandTotal>true</showGrandTotal>
        <showSubTotals>true</showSubTotals>
        <sortColumn>CUST_CREATED_DATE</sortColumn>
        <sortOrder>Asc</sortOrder>
        <timeFrameFilter>
            <dateColumn>Flight__c.Arrival_Time_First_Leg__c</dateColumn>
            <interval>INTERVAL_CUSTOM</interval>
        </timeFrameFilter>
    </block>
    <blockInfo>
        <blockId xsi:nil="true"/>
        <joinTable>x</joinTable>
    </blockInfo>
    <format>MultiBlock</format>
    <name>Spring 2022 Flights - New &amp; Legacy</name>
    <reportType>CustomEntity$Flight__c@Flight__c.Enrollment_Record__c</reportType>
    <showDetails>true</showDetails>
</Report>
