<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>ACCOUNT_NAME</field>
    </columns>
    <columns>
        <field>OPPORTUNITY_NAME</field>
    </columns>
    <columns>
        <field>FK_NAME</field>
    </columns>
    <columns>
        <field>FK_$Enrollment_Record__c.Program__c</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Opportunity.Enrollment_Status__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>enrolled,graduated</value>
        </criteriaItems>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Program_Semester_Name__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>false</isUnlocked>
            <operator>equals</operator>
            <value>Spring 2023</value>
        </criteriaItems>
        <criteriaItems>
            <column>OPPORTUNITY_NAME</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>additional semester</value>
        </criteriaItems>
    </filter>
    <format>Tabular</format>
    <name>Spring 2023 additional semester students</name>
    <params>
        <name>open</name>
        <value>all</value>
    </params>
    <params>
        <name>probability</name>
        <value>&gt;0</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Opportunity@Opportunity.Enrollment_Record__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <sortColumn>ACCOUNT_NAME</sortColumn>
    <sortOrder>Asc</sortOrder>
    <timeFrameFilter>
        <dateColumn>CLOSE_DATE</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
