<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>FIRST_NAME</field>
    </columns>
    <columns>
        <field>LAST_NAME</field>
    </columns>
    <columns>
        <field>PHONE1</field>
    </columns>
    <columns>
        <field>EMAIL</field>
    </columns>
    <columns>
        <field>Opportunity.Current_Program__c</field>
    </columns>
    <columns>
        <field>FK_NAME</field>
    </columns>
    <columns>
        <field>FK_$Enrollment_Record__c.Date_Enrolled__c</field>
    </columns>
    <columns>
        <field>FK_$Enrollment_Record__c.Channel_Partner__c</field>
    </columns>
    <columns>
        <field>FK_$Enrollment_Record__c.Welcome_Call_Completed_On__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>FK_$Enrollment_Record__c.Enrollment_Form_Completed__c</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Contact.Persona__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>US High School Student</value>
        </criteriaItems>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Program__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>2022</value>
        </criteriaItems>
        <criteriaItems>
            <column>Opportunity.Enrollment_Status__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Enrolled</value>
        </criteriaItems>
    </filter>
    <format>Summary</format>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>FK_$Enrollment_Record__c.Owner__c</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <name>Spring and Fall 22</name>
    <params>
        <name>include</name>
        <value>won</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>OpportunityContact@Opportunity.Enrollment_Record__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <sortColumn>FIRST_NAME</sortColumn>
    <sortOrder>Asc</sortOrder>
    <timeFrameFilter>
        <dateColumn>CLOSE_DATE</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
