<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <aggregates>
        <calculatedFormula>Opportunity.Amount_Paid__c:SUM+Opportunity.Deposit_Amount__c:SUM</calculatedFormula>
        <datatype>number</datatype>
        <developerName>FORMULA1</developerName>
        <isActive>true</isActive>
        <isCrossBlock>false</isCrossBlock>
        <masterLabel>Quickbooks+Deposit</masterLabel>
        <scale>2</scale>
    </aggregates>
    <aggregates>
        <calculatedFormula>Opportunity.Amount_Paid__c:SUM+Opportunity.Deposit_Amount__c:SUM+Opportunity.Verto_Fund_Amount__c:SUM+Opportunity.Parent_Loan_Amount_Paid__c:SUM+Opportunity.Pell_Grant_Amount_Paid__c:SUM+Opportunity.Private_Loan_Amount_Paid__c:SUM+Opportunity.Student_Loan_Amount_Paid__c:SUM</calculatedFormula>
        <datatype>currency</datatype>
        <developerName>FORMULA2</developerName>
        <isActive>true</isActive>
        <isCrossBlock>false</isCrossBlock>
        <masterLabel>All Monies Received</masterLabel>
        <scale>2</scale>
    </aggregates>
    <columns>
        <field>ACCOUNT_NAME</field>
    </columns>
    <columns>
        <field>OPPORTUNITY_NAME</field>
    </columns>
    <columns>
        <field>FK_NAME</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Tuition__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Net_Tuition__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Deposit_Amount__c</field>
    </columns>
    <columns>
        <field>ACCOUNT_DESCRIPTION</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Pell_Grant_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Tentative_Pell_Grant_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.CTW_Grant_Amount__c</field>
    </columns>
    <columns>
        <field>Opportunity.External_Scholarships__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.External_Scholarships_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Total_Discounts_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Pay_in_Full_Discount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Early_Enrollment_Discount_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Leadership_Award_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Merit_Award_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Total_Scholarship_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Opportunity_Grant_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Parent_Loan_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Private_Loan_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Student_Loan_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Tentative_Parent_Loan_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Tentative_Private_Loan_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Tentative_Student_Loan_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Actual_Amount_Due__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Estimated_Amount_Due__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Verto_Fund_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Invoiced__c</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Program__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>Spring 2022</value>
        </criteriaItems>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Enrollment_Status__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Enrolled</value>
        </criteriaItems>
    </filter>
    <format>Summary</format>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>Opportunity.Enrollment_Status__c</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <name>Spring 2022 Invoice Report</name>
    <params>
        <name>open</name>
        <value>all</value>
    </params>
    <params>
        <name>probability</name>
        <value>&gt;0</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Opportunity@Opportunity.Enrollment_Record__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <timeFrameFilter>
        <dateColumn>CLOSE_DATE</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
