<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>Enrollment_Record__c$Student_Account__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$Email__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$Last_Name__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$First_Name__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c$Name</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$Name</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$Type__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$X1st_Date__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$X2nd_Date__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$X1st_Booster_Shot_Type__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c.Vaccinations__r$X1st_Booster_Shot_Date__c</field>
    </columns>
    <columns>
        <field>Enrollment_Record__c$First_Enrollment_Record__c</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Enrollment_Record__c$Program_Semester_Name__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>spring 2022</value>
        </criteriaItems>
        <criteriaItems>
            <column>Enrollment_Record__c$Enrollment_Status__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Enrolled</value>
        </criteriaItems>
    </filter>
    <format>Summary</format>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>Enrollment_Record__c$Owner__c</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>Enrollment_Record__c$Program__c</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <name>Spring 22 Vaccinations</name>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Enrollment_Records_w_or_w_o_Vaccinations__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <sortColumn>Enrollment_Record__c.Vaccinations__r$X2nd_Date__c</sortColumn>
    <sortOrder>Desc</sortOrder>
    <timeFrameFilter>
        <dateColumn>Enrollment_Record__c$CreatedDate</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
