<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <aggregates>
        <calculatedFormula>RowCount</calculatedFormula>
        <datatype>number</datatype>
        <developerName>FORMULA1</developerName>
        <isActive>false</isActive>
        <isCrossBlock>false</isCrossBlock>
        <masterLabel># Contact Roles</masterLabel>
        <scale>0</scale>
    </aggregates>
    <columns>
        <field>FIRST_NAME</field>
    </columns>
    <columns>
        <field>LAST_NAME</field>
    </columns>
    <columns>
        <field>EMAIL</field>
    </columns>
    <columns>
        <field>CONTACT_ID</field>
    </columns>
    <columns>
        <field>CONTACT_RECORDTYPE</field>
    </columns>
    <columns>
        <field>Contact.Persona__c</field>
    </columns>
    <columns>
        <field>Opportunity.Current_Program__c</field>
    </columns>
    <description>Created for Parrish</description>
    <filter>
        <booleanFilter>((1 or 2)) AND 3</booleanFilter>
        <criteriaItems>
            <column>CONTACT_RECORDTYPE</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Contact.Student</value>
        </criteriaItems>
        <criteriaItems>
            <column>Contact.Persona__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>US High School Student,International High School Student</value>
        </criteriaItems>
        <criteriaItems>
            <column>Opportunity.Current_Program__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>spring 2022</value>
        </criteriaItems>
    </filter>
    <format>Summary</format>
    <name>Spring 2022 Students</name>
    <params>
        <name>include</name>
        <value>all</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>OpportunityContact</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <timeFrameFilter>
        <dateColumn>CREATED_DATE</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
