<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>FK_$Enrollment_Record__c.Program__c</field>
    </columns>
    <columns>
        <field>ACCOUNT_NAME</field>
    </columns>
    <columns>
        <field>Opportunity.Enrollment_Status__c</field>
    </columns>
    <columns>
        <field>Opportunity.Deposit_Date__c</field>
    </columns>
    <columns>
        <field>Opportunity.Most_Recent_Deposit_Received_Date_Time__c</field>
    </columns>
    <columns>
        <field>CLOSE_DATE</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Program__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>2021</value>
        </criteriaItems>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Program_Semester_Name__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>false</isUnlocked>
            <operator>contains</operator>
            <value>Spring 2021</value>
        </criteriaItems>
        <criteriaItems>
            <column>CLOSE_DATE</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>lessThan</operator>
            <value>11/19/2021</value>
        </criteriaItems>
    </filter>
    <format>Tabular</format>
    <name>Spring 2021 students</name>
    <params>
        <name>open</name>
        <value>all</value>
    </params>
    <params>
        <name>probability</name>
        <value>&gt;0</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Opportunity@Opportunity.Enrollment_Record__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <timeFrameFilter>
        <dateColumn>CLOSE_DATE</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
