<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>OPPORTUNITY_NAME</field>
    </columns>
    <columns>
        <field>OPPORTUNITY_ID</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Tuition__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Actual_Amount_Due__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Estimated_Amount_Due__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Pell_Grant_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Student_Loan_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Parent_Loan_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Private_Loan_Amount_Paid__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Deposit_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.CTW_Grant_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.External_Scholarships_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Total_Discounts_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Pay_in_Full_Discount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Early_Enrollment_Discount_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Leadership_Award_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Merit_Award_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Opportunity_Grant_Amount__c</field>
    </columns>
    <columns>
        <aggregateTypes>Sum</aggregateTypes>
        <field>Opportunity.Verto_Fund_Amount__c</field>
    </columns>
    <columns>
        <field>Opportunity.Enrollment_Status__c</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Opportunity.Enrollment_Status__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>notEqual</operator>
            <value>cancel,verto cancel</value>
        </criteriaItems>
        <criteriaItems>
            <column>FK_$Enrollment_Record__c.Program__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>Spring 2022</value>
        </criteriaItems>
    </filter>
    <format>Tabular</format>
    <name>Spring 2022 Financials</name>
    <params>
        <name>open</name>
        <value>all</value>
    </params>
    <params>
        <name>probability</name>
        <value>&gt;0</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>Opportunity@Opportunity.Enrollment_Record__c</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <sortColumn>OPPORTUNITY_NAME</sortColumn>
    <sortOrder>Asc</sortOrder>
    <timeFrameFilter>
        <dateColumn>CLOSE_DATE</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
